*{
    margin: 0;
    padding: 0;
}

nav{
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    height: 70px;
    display: flex;
}
.logo img{
    width: 90px;
}
.logo:hover{
    cursor: pointer;
}
.search input{
    height: 40px;
    width: 540px;
    border-radius: 20px;
    border: 1px solid black;
}
.searchbox{
    display: flex;
}
.mic{
    background-color: lightgray;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.mic a img{
    width: 20px;
}
.login{
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.login a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.container{
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}
.card1{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.item1 img{
    width: 50px;
    height: 50px;
}
.item2 img{
      width: 30px;
      height: 30px;
}
.text2, .text1, .text4{
    text-align: center;
}
.item3 img{
      width: 50px;
      height: 50px;
}
.text3{
    font-size: 10px;
    transform: translateY(-12px);
}
.text1{
    font-size: 15px;
}
.item4 img{
    width: 30px;
    height: 30px;
}
.item1 a,.item2 a,.item3 a,.item4 a{
    color: black;
    text-decoration: none;
}
.item1,.item2,.item3,.item4{
    margin-bottom: 20px;
}